.toggle button {
  border: none;
  background: none;
  font-size: 45px;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
}
.toggle button:hover {
  opacity: 50%;
  transition: 0.5s ease;
}